<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
    <insert id="addUser">
        insert into s_local(
        name,
        password,
        create_time,
        update_time
        )
        values (
        #{name},
        #{encryptPassword},
        now(),
        now()
        )
    </insert>
    <insert id="addUsers">
        INSERT INTO s_local
        (name,password,create_time,
        update_time)
        VALUES
        <foreach collection ="userList" index="index" item="item" separator =",">
            (#{item.name},#{item.password},now(),now())
        </foreach >
    </insert>
    <insert id="addUserByObj">
        insert into s_local(
        name,
        password,
        create_time,
        update_time,
        status
        )
        values (
        #{name},
        #{password},
        now(),
        now(),
        #{status}
        )
    </insert>
    <select id="findUser" resultType="com.example.demo.pojo.User">
        select * from s_local where name = #{name} and password = #{password}
    </select>
    <select id="findUsers" resultType="com.example.demo.pojo.User">
        select * from s_local where status = 1
        <if test="threadId%2==1">
            and id%2=1
        </if>
        <if test="threadId%2==0">
            and id%2=0
        </if>
    </select>
    <select id="findAllUsers" resultType="com.example.demo.pojo.User">
        select * from s_local
    </select>
</mapper>